## Задача 1.
### На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [30]:
# принимает словарь {строка: число}, может принять любое количество строк и любое кол-во чисел
# возвращает одно число (общее кол-во, то есть сумму всех строк и чисел)

def calc_fruit(**kwargs):
    for k, v in kwargs.items():
        a = sum(kwargs.values())
        print(f'{k} - {v}')
    print(f'Общее количество фруктов на складе: {a}')

In [31]:
calc_fruit(apple=5, orange=6)

apple - 5
orange - 6
Общее количество фруктов на складе: 11

## Задача 2.

### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты 
### [100, 125, -90, 345, 655, -1, 0, 200]

### Используйте list comprehensions

In [70]:
# ! способ. Без list comprehensions

lst = [100, 125, -90, 345, 655, -1, 0, 200]

def zatraty(a: list) -> list:
    new_lst = []
    for i in a:
        if i > 0:
            new_lst.append(i)
    print(new_lst) 

    
    sum_zatraty = 0
    for j in new_lst:
        sum_zatraty += j
    print(sum_zatraty)

In [71]:
zatraty(lst)

[100, 125, 345, 655, 200]
1425

In [153]:
# 2 способ. list comprehensions


lst = [100, 125, -90, 345, 655, -1, 0, 200]

sum_zatraty = sum (i for i in lst if i > 0)
sum_zatraty

1425

## Задача 3
### Даны два списка.
### Дата покупки 
 ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
'2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

### Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
### Используйте list comprehensions

In [298]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']

amounts_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
                   4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [285]:
# 1 способ. list comprehensions

from operator import itemgetter
pattern = '11' # 11 - ноябрь

sum(i for i in itemgetter(*[i for i in range(len(date)) if pattern in date[i]])(amounts_by_date))

25098

In [312]:
# 2 способ. Ищем -11-
from operator import itemgetter

# вывела индексы всех дат за ноябрь
pattern = '-11-' # 11 - ноябрь
november = ([i for i in range(len(date)) if pattern in date[i]])

got = itemgetter(*november)(amounts_by_date)
print(f'Выручки за ноябрь списком: {got}')

print(f'Суммарная выручка у компании в ноябре: {sum(got)}')

Выручки за ноябрь списком: (4944, 3701, 7037, 4274, 2004, 2822, 316)
Суммарная выручка у компании в ноябре: 25098

In [305]:
# 3 способ

def nov (a: list, b: list) -> list:
    profit_november = []
    
    for i in range(len(a)-1):
        if '-11-' in a[i]:
            profit_november.append(b[i])
            
    return sum(profit_november)

In [306]:
nov(date, amounts_by_date)

25098


### 4.2 Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов

In [317]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']

amounts_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
                   4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [318]:
# 1 способ, через split

def profit_months(a: list, b: list) -> dict:
    profits = {}
    for i in range(len(a)):
        if a[i].split('-')[1] in profits.keys():
            profits[a[i].split('-')[1]] += b[i]
        else:
            profits[a[i].split('-')[1]] = b[i]
    return profits

In [319]:
profit_months(date, amounts_by_date)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

In [324]:
# 2 способ, через pandas

date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09', '2021-05-05']

amounts_by_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 
                   4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887, 456]
 
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
df['Sum'] = amounts_by_date
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month', as_index=False).aggregate({'Sum':sum})

   Month    Sum
0      5    456
1      9  25647
2     10  28645
3     11  25098
4     12  45452

In [315]:
# 3 способ itemgetter

def amounts_by_months(a: list, b: list) -> dict :
    dict = {}
    for i in range (len(a)):
        dict[a[i]] = b[i]    
    print(dict)
    print()
    
    january = '-01-'    
    february = '-02-'
    march = '-03-'
    april = '-04-'
    may = '-05-'
    june = '-06-'
    july = '-07-'
    august = '-08-'
    september = '-09-'
    october = '-10-'
    november = '-11-'
    december = '-12-'
    
    dict2 = {} # Вывод всего словаря

    for i in dict:
        dict2['september'] = sum(i for i in itemgetter(*[i for i in range(len(date)) if september in date[i]])(amounts_by_date))
        dict2['october'] = sum(i for i in itemgetter(*[i for i in range(len(date)) if october in date[i]])(amounts_by_date))
        dict2['november'] = sum(i for i in itemgetter(*[i for i in range(len(date)) if november in date[i]])(amounts_by_date))
        dict2['december'] = sum(i for i in itemgetter(*[i for i in range(len(date)) if december in date[i]])(amounts_by_date))   
    
    print(dict2) # Вывод словаря сумм

In [316]:
amounts_by_months(date, amounts_by_date)

{'2021-09-14': 1270, '2021-12-15': 8413, '2021-09-08': 9028, '2021-12-05': 3703, '2021-10-09': 2732, '2021-09-30': 2008, '2021-12-22': 295, '2021-11-29': 4944, '2021-12-24': 5723, '2021-11-26': 3701, '2021-10-27': 4471, '2021-12-18': 651, '2021-11-09': 316, '2021-11-23': 4274, '2021-09-27': 6275, '2021-10-02': 4988, '2021-12-27': 6930, '2021-09-20': 2971, '2021-12-13': 6333, '2021-11-01': 2004, '2021-12-06': 519, '2021-12-08': 3406, '2021-10-31': 5015, '2021-10-26': 5700, '2021-12-09': 2887}

{'september': 25647, 'october': 28645, 'november': 25098, 'december': 45452}